<div class="container-wide">
    <div class="container pt-2 mb-0">
        <div class="row py-2">
            <div class="col-12 col-md-4 footer text-center text-md-start">
                <h4>About Us</h4>
                <ul id="aboutus" class="m-0 p-0">
                    <li>Team</li>
                    <li>Career</li>
                    <li>Culture</li>
                    <li>Blogs</li>
                    <li>Locations</li>
                </ul>
            </div>
            <div class="col-12 col-md-4 footer text-center text-md-start">
                <h4>Products</h4>
                <ul id="products" class="m-0 p-0">
                    <li>Xploree AI Keyboard</li>
                    <li>Xploree Solutions for Infotainment Systems</li>
                    <li>Transflow 360</li>
                    <li>Cerina Studio</li>
                </ul>
            </div>
            <div class="col-12 col-md-4 footer text-center text-md-start">
                <h4>Services</h4>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <ul id="aboutus" class="m-0 p-0">
                            <li>Software & App development</li>
                            <li>Website/Portal Development</li>
                            <li>IT Infrastructure</li>
                            <li>Data Science</li>
                            <li>Quality Assurance</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <ul id="aboutus" class="m-0 p-0">
                            <li>Project Management</li>
                            <li>UI/UX Design</li>
                            <li>DevOps</li>
                            <li>Technical Support</li>
                            <li>Mobile App Development</li>
                            <li>AI/ML</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-12 col-md-8 footer text-center my-auto">
                <p>ISO : 9001 -2015 & 27001 -2013 certified Keypoint Technologies Pvt Ltd Company</p>
            </div>
            <div class="col-12 col-md-4 footer text-center">
                <img src="../../assets/ISOLogo.jpg" alt="ISO_Logo">
            </div>
        </div>
        <div class="row py-2 mb-0">
            <div class="col-12 col-md-6 text-center copyright my-auto">
                <p>&copy; Copyright 2023 Keypoint Technologies Pvt Ltd</p>
            </div>
            <div class="col-12 col-md-6 text-center copyright py-2">
                <ul class="m-0 px-2 py-2">
                    <li><i class="bi bi-twitter-x"></i></li>
                    <li><i class="bi bi-linkedin" style="color: #0077B5"></i></li>
                    <li><i class="bi bi-instagram"></i></li>
                    <li><i class="bi bi-facebook" style="color: #0866FF"></i></li>
                </ul>
            </div>
        </div>
    </div>
</div>