<section class="navbar">
    <app-navbar></app-navbar>
</section>
<section class="about_us_content my-auto">
    <div class="container-wide">
        <app-about-us-content></app-about-us-content>
    </div>
</section>
<section class="about_us_contact my-auto">
    <div class="container-wide">
        <app-about-us-contact-us></app-about-us-contact-us>
    </div>
</section>
<section class="about_us_location my-auto">
    <div class="container-wide">
        <app-about-us-location></app-about-us-location>
    </div>
</section>
<section class="footer bottom">
    <app-footer></app-footer>
</section>
<router-outlet></router-outlet>