.about_us_content{
    margin-top: 45px !important;
    background-color: #0E1F39;
}
.about_us_contact{
    background-color: #fe6f00;
    background-image: linear-gradient(to right, #ffb715, #fe6f00 );
}
.about_us_contact{
    background-color: #0E1F39;
}
.footer{
    background-color: #000;
}