<div class="container-fluid pb-5">
    <div class="row justify-content-center mt-3 p-2 p-md-5">
        <div class="col-12 text-center justify-content-center header">
            <h3 class="container-heading">{{ container_title }}</h3>
        </div>
        <div class="col-12 col-lg-6 mt-5 context">
            <div class="row">
                <div class="col-12">
                    <h1 class="quote">"{{ quote }}"</h1>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-12 col-md-6 p-3">
                    <div class="card">
                        <div class="card-body">
                            <span class="card_title">Mission :</span> <br /> <p>{{ mission }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 p-3">
                    <div class="card">
                        <div class="card-body">
                            <span class="card_title">Vision :</span> <br /> <p>{{ vision }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 mt-5 messages">
            <div class="row">
                <div class="col-12"><p>"{{ message }}"</p></div>
                <div class="col-12 mt-3"><p>{{ message_2 }}</p></div>
            </div>
        </div>
    </div>
</div>