<div class="container-fluid">
    <div class="row justify-content-center py-5">
        <div class="col-12 col-md-3 px-5 py-1">
            <h3 class="container-heading">{{ container_title }}</h3>
        </div>
        <div class="col-12 col-md-9 px-5 py-2">
            <div class="carousel partners_carousel">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <!-- <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div> -->
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="5000">
                        <div class="row">
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car1.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car2.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car3.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car4.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car5.png" class="d-block w-100" alt="">
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="5000">
                        <div class="row">
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car6.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car7.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car8.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car9.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car10.png" class="d-block w-100" alt="">
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="5000">
                        <div class="row">
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car11.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car12.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car13.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car14.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car15.png" class="d-block w-100" alt="">
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="5000">
                        <div class="row">
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car16.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car17.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car18.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car19.png" class="d-block w-100" alt="">
                            </div>
                            <div class="col col-md">
                                <img src="../../assets/trusted_partners/part_car20.png" class="d-block w-100" alt="">
                            </div>
                        </div>
                      </div>
                        <div class="carousel-item" data-bs-interval="5000">
                            <div class="row">
                                <div class="col col-md">
                                    <img src="../../assets/trusted_partners/part_car21.png" class="d-block w-100" alt="">
                                </div>
                                <div class="col col-md">
                                    <img src="../../assets/trusted_partners/part_car22.png" class="d-block w-100" alt="">
                                </div>
                                <div class="col col-md">
                                    <img src="../../assets/trusted_partners/part_car23.png" class="d-block w-100" alt="">
                                </div>
                                <div class="col col-md">
                                    <img src="../../assets/trusted_partners/part_car24.png" class="d-block w-100" alt="">
                                </div>
                                <div class="col col-md">
                                    <img src="../../assets/trusted_partners/part_car25.png" class="d-block w-100" alt="">
                                </div>
                            </div>
                        </div>
                  </div>
            </div>
        </div>
    </div>
</div>