.container-fluid{
    .col-md-3{
        .container-heading{
            font-family: 'Raleway';
            font-size: 21px;
            line-height: 35px;
            letter-spacing: 5.2px;
            font-weight: 600;
            color: #fff;
        }
    }
    .col-md-9{
        .partners_carousel{
            .carousel-indicators{
                bottom: 10%;
            }
        }
    }
    
}