.dataTable{
    thead{
        tr{
            th{
                font-family: 'Raleway';
                font-size: 16px;
                line-height: 18px;
                font-weight: 800;
                color: #FD7000;
                padding: 1em 1em;
            }
        }
    }
    tbody{
        tr{
            td{
                font-family: 'Raleway';
                font-size: 14px;
                line-height: 18px;
                font-weight: 500;
                color: #01142E;
            }
        }
    }
}