.carousel{
    margin-top: 45px !important;
}
.products{
    background-color: #01142E;
}
.services{
    background-color: #0E1F39;
}
.meet_team{
    background-color: #01142E;
}
.our_partners{
    background-color: #fe6f00;
    background-image: linear-gradient(to right, #ffb715, #fe6f00 );
}
.footer{
    background-color: #000;
}